body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.centered-text-big {
    font-size: 5em;
    color: #1CB0F6;
}

.centered-text {
    font-size: 3em;
    color: #323334;
}
